@charset "utf-8";
	.box-header {
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #eee;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
#info {
	float: left;
	height: auto;
	width: 50%;
	margin-top: 10px;
	margin-left: 5%;
}
 #info #info1 {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
}

#imgmain {
	float: right;
	clear: left;
	background-color: #ddd;
	width: 40%;
	margin-top: 20px;
	margin-right: 5%;
	height: 330px;
	margin-bottom: 30px;
}
.button       {
	height: 50px;
	width: 150px;
	margin-left: 35%;
}
.img_img {
	float: left;
	height: 80%;
	width: 80%;
	margin-top: 5px;
	margin-left: 10%;
	margin-bottom: 5px;
}
