@charset "utf-8";
.container {
	padding-left: 0px;
	margin-left: 0px;
}
.col-sm-15.col-md-5 {
padding-left:3px;
}
.col-xs-6.col-md-6.small {
	padding-left: 0px;
	padding-bottom: 0px;
}
.thumbnail.sml {
	margin-bottom: 0px;
}


.thumbnail a>img, .thumbnail>img{
	margin-right: 0px;
	width: 100%;
}
.thumbnail .caption {
padding:0 0 0 0;
}
.thumbnail.sml >img{
padding:3px 5px 0 0;
	width: 40%;
	float: left;
	clear: right;
}
 .sml {
	padding: 5px 5px 5px 5px;
	width:98.5%;
	float: left;
	height: 155px;
}
.col-sm-8{
	padding-left: 20px;
	padding-right:5px;
}
.col-sm-6{
		padding-left: 5px;
	padding-right:0px;
	width:31.8%;

}
.thumbnail:hover{
	border: thin solid #333;
}
.col-md-9 {
	
width: 66.5%
}
#container #right #video .container .row .col-sm-5 p {
	text-align: center;
	width: 300px;
	margin: 5px 0 5px 0;
	padding: 0 0 0 0;
}
h3 {
	margin: 5px;
	text-align: center;
}
