@charset "utf-8";
#wrapper_content{width:1000px;margin:0 auto}
#wrapper_content>h1{color:#0371B1;padding:12px 0 5px;text-transform:uppercase;font-size:18px}
#wrapper_content>div{width: 770px;font-family:"Times New Roman", Times, serif;font-size: 18px;line-height: 2px;
color: #03C;height: 18px;}
#wrapper_content div.wrapper_content_top,div.wrapper_content_bottom{width: 200%;font-family: "Times New Roman", Times, serif;
font-size: 22px;line-height: 5px;color: #0371B1;font-style: normal;}
ul{list-style: none;font-size: 18px;color: #333;line-height: 18px;}
.wap_location_right{ padding-left: 15px;}
.wap_location_right *{font-family: "Times New Roman", Times, serif;font-size: 16px;}
.wap_location_right ul.filter li{
	float: left;
	width: 285px;
	margin-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px #DDD solid;
	margin-left: 10px;
}
.wap_location_right .filter li:nth-child(2n){margin-right: 5px;}
.wap_location_right .filter li a.image{display: block;margin-bottom: 15px;}
.wap_location_right .filter li a.image img{ width: 285px; height: 200px;}
.wap_location_right .filter li h2{margin-bottom: 10px;line-height: 24px;}
.wap_location_right .filter li h2 a{ color: red; font-size: 20px;}
.wap_location_right .filter li .inside, .loc_des .inside{ margin-bottom: 10px; color: #999;}
.wap_location_right .filter li .detail{text-align: justify;line-height: 20px;height: 150px;overflow: hidden;margin-bottom: 5px;font-family: "Times New Roman", Times, serif;}
.wap_location_right .filter li .view_more{text-align: right;}
.wap_location_right .filter li .view_more a{font-size: 18px;font-weight: bold;}
.wap_location_right .filter li .view_more a:hover{text-decoration: underline;}
.page_breakbar{float:right;margin:10px 10px 10px 10px}
.page_breakbar li{float:left;list-style:none;height:16px;line-height:16px;margin-right:5px;border:1px solid #ececec!important}
.page_breakbar li.lastpage{border-bottom:1px #ececec solid!important}
.page_breakbar ul{float:right}
.page_breakbar li .page_selected,.page_breakbar li a{padding:1px 5px;line-height:16px;color:#333}
.page_breakbar li .page_selected,.page_breakbar li a:hover{background-color:#3FA9F5;color:#fff}
.page_breakbar li .prevpage{padding:1px 7px;background:url(../images/boardicons.png) -78px -26px no-repeat}
.page_breakbar li .prevpage.disable{background-position:-104px -26px}
.page_breakbar li .nextpage{padding:1px 7px;background:url(../images/boardicons.png) -90px -26px no-repeat}
.page_breakbar li .nextpage.disable{background:url(../images/boardicons.png) -116px -26px no-repeat}
.page_breakbar li.firstpage a,.page_breakbar li.lastpage a{padding:1px 7px}
.page_breakbar li.dot_breakpage{border:0}!>
