@charset "utf-8";
#content {
	background-color: #3F6;
	height: auto;
	width: 1000px;
	margin-left: 150px;
	overflow: auto;
}
#content #header {
	background-color: #CFC;
	height: 150px;
	width: 1000px;
	float: left;
}
#content #horizontalMenu {
	background-color: #C06;
	float: left;
	height: 110px;
	width: 1000px;
}

#content #horizontalMenu table tr td .pic {
	text-align: center;
	height: 50px;
	width: 50px;
	margin-left: 35px;
	margin-top: 20px;
}
#content #horizontalMenu table tr td .menutitle  {
	float: left;
	height: 30px;
	width: 120px;
	text-align: center;
	margin-top: 5px;
}

#content #horizontalMenu table tr td {
	text-align: center;
	width: 120px;
	height: 60px;
}
#content #horizontalMenu table tr td:hover {
	text-align: center;
	width: 120px;
	height: 60px;
	background:#CF6;
}
#content #horizontalMenu table tr td:select {
	text-align: center;
	width: 120px;
	height: 60px;
	background:#CF6;
}
#content #top {
	background-color: #F90;
	clear: both;
	float: left;
	height: auto;
	width: 1000px;
	overflow: auto;
	margin-top: 5px;
}

#content #top #title1 {
	background-color: #FFF;
	float: left;
	height: 30px;
	width: 1000px;
	margin-top: 10px;
}
#content #top #containt {
	background-color: #9F0;
	float: left;
	height: auto;
	width: 1000px;
}


#content #footder {
	background-color: #9F3;
	height: 150px;
	width: 1000px;
	float: left;
}
