@charset "utf-8";
.container .col-md-9-2 article .row-fluid{
	height: auto;
	width: 100%;	
	}
.container .col-md-9-2 article .row-fluid .quick-button.metro{
	clear: right;
	float: left;
	height: 130px;
	width: 16.5%;
	margin-top: 5px;
	margin-right: 15px;
}

.container .col-md-9-2 article .row-fluid .quick-button.metro.badge {
	float:left;
	background-color:#FFF;

}
.container .col-md-9-2 article .row-fluid .quick-button.metro>p {

	color:#FFF;
}
.container .col-md-9-2 article .row-fluid .quick-button.metro .glyphicon {
	font-size: 60px;
	color: #FFF;
	margin: 25px 0px 0px 60px;

}
.container .col-md-9-2 article .row-fluid .quick-button.metro.yellow.span2 {
	
	background-color: #FFC40D;
}
.container .col-md-9-2 article .row-fluid .quick-button.metro.red.span2 {

	background-color:#EB3C00;

}
.container .col-md-9-2 article .row-fluid .quick-button.metro.blue.span2 {

	background-color:#2D89EF;

}

.container .col-md-9-2 article .row-fluid .quick-button.metro.green.span2 {
		background-color:#00A300 ;

}
.container .col-md-9-2 article .row-fluid .quick-button.metro.pink.span2 {
	
	background-color: #9F00A7;
	

}	
				
